/FFXcodeProjectManager Sample/FFXcodeProjectManager Sample.xcodeproj/project.xcworkspace/xcuserdata/florianfriedrich.xcuserdatad/UserInterfaceState.xcuserstate

/FFXcodeProjectManager Sample/FFXcodeProjectManager Sample.xcodeproj/project.xcworkspace/xcshareddata/FFXcodeProjectManager Sample.xccheckout

/FFXcodeProjectManager Sample/FFXcodeProjectManager.xcodeproj/project.xcworkspace/xcuserdata/florianfriedrich.xcuserdatad/UserInterfaceState.xcuserstate

/FFXcodeProjectManager/FFXcodeProjectManager.xcodeproj/project.xcworkspace/xcuserdata/florianfriedrich.xcuserdatad/UserInterfaceState.xcuserstate
